.color-purple {
    background-color: darkslateblue;
}
.color-darksalmon {
    background-color: rgb(216, 158, 138);
}
.color-somon {
    background-color: indianred;
} 
.color-hotpink {
    background-color: rgb(233, 166, 188);
}
.color-color-green2 {
    background-color: rgb(135, 194, 174);
}
.color-green {
    background-color:rgb(204, 221, 221);
}
.color-blue {
    background-color: rgb(104, 148, 175);
}
.color-yellow {
    background-color:rgb(223, 229, 194)
    }
    .color-clair {
        background-color: rgb(236, 236, 208);
    }
    .color-somonclair {
        background-color: rgb(224, 173, 111);
    }
    .text {
        text-align: center;
}
body{
    display: block;
}
td {
    height: 5px;
    margin: 1px ;
    
}
 table {
     margin: auto ;
     padding: auto;
     
 }
 p {
     padding: 0 2px 0 2px;
     height: 1px;
     margin: 1;
     font-size: 11px ;
 }
 h3 {
    padding: 0 2px 0 2px;
    height: 1px;

 }
 @media screen and (max-width: 1120px)
 {
    p {
        padding: 0 2px 0 2px;
        height: 1px;
        margin: 1;
        font-size: 4px ;
        
    }
     
  } 